# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

server/node_modules
server/.pnp
server/.pnp.js

serverWithMySQL/node_modules
serverWithMySQL/.pnp
serverWithMySQL/.pnp.js

# testing
client/coverage

server/coverage
serverWithMySQL/coverage

# production
client/build

server/build
serverWithMySQL/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*


serverWithMySQL/.DS_Store
serverWithMySQL/.env.local
serverWithMySQL/.env.development.local
serverWithMySQL/.env.test.local
serverWithMySQL/.env.production.local

serverWithMySQL/npm-debug.log*
serverWithMySQL/yarn-debug.log*
serverWithMySQL/yarn-error.log*
