{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [true, {
      "ignore": ["rem"],
      "severity": "warning"
    }],
    "at-rule-empty-line-before": null,
    "block-opening-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "color-hex-length": null,
    "comment-empty-line-before": null,
    "declaration-block-semicolon-newline-after": null,
    "declaration-colon-newline-after": null,
    "declaration-empty-line-before": null,
    "indentation": null,
    "no-extra-semicolons": null,
    "rule-empty-line-before": null,
    "selector-pseudo-element-colon-notation": null,
    "value-list-max-empty-lines": null,
    "value-list-comma-newline-after": null
  }
}